[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/pack/plugin/start/gundo.vim"]
	path = vim/pack/plugin/start/gundo.vim
	url = git@github.com:sjl/gundo.vim.git
[submodule "vim/pack/plugin/start/VimCompletesMe"]
	path = vim/pack/plugin/start/VimCompletesMe
	url = https://github.com/ajh17/VimCompletesMe
[submodule "vim/pack/plugin/start/vim-commentary"]
	path = vim/pack/plugin/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "vim/pack/plugin/start/nerdtree"]
	path = vim/pack/plugin/start/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/pack/theme/start/onedark.vim"]
	path = vim/pack/theme/opt/onedark.vim
	url = git@github.com:joshdick/onedark.vim.git
